<mat-toolbar class="header">
  <p>Maria Jota Desserts</p>
  <a mat-button routerLink='/home'><span class="fa fa-home fa-lg"></span> Inicio</a>
  <a mat-button routerLink='/verMas'><span class="fa fa-list fa-lg"></span>Catalogo</a>
  <a mat-button routerLink='/hacerPedido'><span class="fa fa-shopping-bag fa-lg"></span>Hacer pedido</a>
  
</mat-toolbar>

<div fxLayout="row" >
  <img src="src\assets\images\logomj2.jpg" class="imagenHeader">
  <div fxFlex="80">
    <h1 class="titulo letraHeader tituloHeader" >
      Maria Jota
  
    </h1>
    <h2 class="cuerpo letraHeader pegado ">
      Desserts
  
    </h2>
  </div>
  
  
</div>
