<div  class="textodiv cuerpo" >
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <h3>Realiza tu pedido</h3>
    

    
   
    <mat-grid-list cols="6" rowHeight="100px" >
      <mat-grid-tile  colspan="1">
    
      </mat-grid-tile>
      <mat-grid-tile  colspan="1" class="fondoLabels">
    
        <label for="email" class="letraMasPeq">
          Email
        </label>
      </mat-grid-tile>
      
     
        <mat-grid-tile colspan="4">
          <div class="fondoDatos">
            <input id="email" type="text" placeholder="Email" formControlName="email">
          </div>
          
        </mat-grid-tile>
      
        <mat-grid-tile  colspan="1">
    
        </mat-grid-tile>
      <mat-grid-tile colspan="1" class="fondoLabels">
      <label class="letraMasPeq" for="tipoPostre">
        Tipo de Postre
      </label>
      
      <input  id="tipoPostre" type="text" formControlName="tipoPostre">
      </mat-grid-tile>
      <div  fxLayout="row" >
        <mat-grid-tile colspan="4" class="letraMasPeq">
        
          <div>
            <label class="fondoDatos">
              <input type="radio" >
              Torta o Cupcakes
            </label>
          </div>
          <div>
            <label >
              <input type="radio">
              Galletas
            </label>
          </div>
          <div>
            <label>
              <input type="radio">
              Otro
            </label>
          </div>
          <div>
            <select class="form-select" name="NAME" >
             
             <option value="" disabled selected>Selecciona una opción</option>
             <option value="1">Donas</option>
             <option value="2">Pie</option>
             <option value="3">Brownie</option>
           </select>
          </div>
   
        </mat-grid-tile>
      </div>
      <mat-grid-tile  colspan="1">
    
      </mat-grid-tile>
      <mat-grid-tile colspan="1" class="fondoLabels">
        <label for="porciones" class="letraMasPeq">
          Porciones
        </label>
      </mat-grid-tile>
      <mat-grid-tile colspan="4">
        <div class="fondoDatos">
          <input   placeholder="Numero porciones" type="number" id="porciones"  formControlName="porciones">
        </div>
        
  
      </mat-grid-tile>
      <mat-grid-tile  colspan="1">
    
      </mat-grid-tile>
      <mat-grid-tile colspan="2" class="fondoLabels">
        <label class="letraMasPeq" for="comentarios">
          Comentarios Adicionales
        </label>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" class="fondoLabels" >
        <label class="letraMasPeq" for="imagen">
          Imagen de referencia
        </label>
      </mat-grid-tile>
      <mat-grid-tile  colspan="1">
    
      </mat-grid-tile>
      <mat-grid-tile  colspan="1">
    
      </mat-grid-tile>
      <mat-grid-tile rowspan="2" colspan="2">
        <textarea    placeholder="Escribe aqui" rows=12 id="comentarios"  formControlName="comentarios"> </textarea>
      </mat-grid-tile>
      <mat-grid-tile rowspan="2" colspan="2">
        <input id="imagen" type="text" formControlName="imagen">
      </mat-grid-tile>
     
  
    </mat-grid-list>
   
  
  </div>
  <div>
    <button  class="button" type="submit">Enviar</button>
  </div>
</form>

</div>


<div>
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>
</div>

